
#u3673-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u3658-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u3692-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u3666-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u3650-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u3679-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u4700-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u3699-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u189-4,#u315-13,#u3812-13,#u3813-13,#u3864-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u3866-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u1273-4,#u1308-4,#u1356-4,#u1384-4,#u1428-4,#u1478-4,#u1504-4,#u1530-4,#u1576-4,#u314-4,#u3787-4,#u3790-4,#u324-4,#u3863-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u3868-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u3871-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u3870-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u3888-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u3890-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u3887-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u3892-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u3895-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u3894-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u3898-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u3900-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u3897-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u3902-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u3905-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u3904-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u3985-8
{
	font-family: ubuntu-n3, sans-serif;
}

#u3989-9
{
	font-family: ubuntu-n3, sans-serif;
}

#u3990-8
{
	font-family: ubuntu-n3, sans-serif;
}

#u3992-8
{
	font-family: ubuntu-n3, sans-serif;
}

#u3994-8
{
	font-family: ubuntu-n3, sans-serif;
}

#u4000-8
{
	font-family: ubuntu-n3, sans-serif;
}

#u4001-8
{
	font-family: ubuntu-n3, sans-serif;
}

#u4002-8
{
	font-family: ubuntu-n3, sans-serif;
}

#u4003-8
{
	font-family: ubuntu-n3, sans-serif;
}

#u4004-9
{
	font-family: ubuntu-n3, sans-serif;
}

#u391-8,#u394-8,#u398-8,#u3927-4,#u3985-2,#u3989-2,#u3990-2,#u3992-2,#u3994-2,#u4000-2,#u4001-2,#u4002-2,#u4003-2,#u4004-2,#u4025-4,#u4228-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u4227-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u4238-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u4236-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u4231-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u4233-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u4268-4,#u4272-4,#u4248-4,#u4250-4,#u4258-4,#u4256-4,#u4281-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u4265-4,#u4271-7,#u4247-4,#u4244-7,#u4259-4,#u4262-7,#u4280-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u4291-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u4289-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u4284-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u4286-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u4321-4,#u4325-4,#u4301-4,#u4303-4,#u4311-4,#u4309-4,#u4334-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u4318-4,#u4324-7,#u4300-4,#u4297-7,#u4312-4,#u4315-7,#u4333-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u4344-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u4342-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u4337-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u4339-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u4371-4,#u4377-7,#u4353-4,#u4350-7,#u4365-4,#u4368-7,#u4494-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u820-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u819-4,#u828-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u827-4,#u834-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u833-4,#u840-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u839-4,#u4586-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u4584-4
{
	font-family: ubuntu-n3, sans-serif;
}

#widgetu4581.frm-sub-st #u4593-4 p,#widgetu4581.frm-subm-err-st #u4582-4 p,#widgetu4581.frm-subm-ok-st #u4587-4 p,#u1024-11,#u1119-3
{
	font-family: ubuntu-n3, sans-serif;
}

#u1120-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u1124-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u1122-4
{
	font-family: ubuntu-n3, sans-serif;
}

#widgetu1115.frm-sub-st #u1125-4 p,#widgetu1115.frm-subm-err-st #u1131-4 p,#widgetu1115.frm-subm-ok-st #u1126-4 p,#u1129-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u1130-4
{
	font-family: ubuntu-n3, sans-serif;
}

#widgetu4583_input,#widgetu4583_prompt,#widgetu1117_input,#widgetu1117_prompt,#widgetu1121_input,#widgetu1121_prompt,#widgetu1127_input,#widgetu1127_prompt
{
	font-family: ubuntu, sans-serif;
}

#u4374-4,#u4378-4,#u4354-4,#u4356-4,#u4364-4,#u4362-4,#u4493-4,#u4509-4,#u4533-4,#u819-2,#u827-2,#u833-2,#u839-2,#u4580-4,#u4598-4,#u1022-4,#u1024,#u1024-4,#u1024-7,#u1028-4,#u1166-2
{
	font-family: ubuntu-n7, sans-serif;
}

#u1166-4,#u1166-8
{
	font-family: ubuntu-n3, sans-serif;
}

